
.head1{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(55, 14, 37, 0.931);

}
.head2{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgba(55, 14, 37, 0.931);
    line-height: 1.5;
}
main {
    text-align: justify;
    padding-right: 100px;
    padding-left: 100px;
    line-height: 1.5;
  }
  ul.ulPaddingclass{
  align-items: justify;
  text-align: justify;
  padding-right: 100px;
  padding-left: 40px;
  margin-left: 100;
  line-height: 1.75;
  }
  .asidesection {
    width: 30%;
    margin-right: auto;
    margin-top: 20%;
}


.container{
    display: flex;
    align-items: center;
    width: flex;
}
aside{
    width: 30%;
    margin-left: auto;
    margin-top: 0;
}
main section{
    text-align: justify;
    width: 65%;
    margin-left: 0;
    margin-top: 0;
    align-items: initial;

}
p{
    line-height: 1.5;
}
section{
    width: 65%;
    align-items: flex-start;
    position: relative;

}
