.container {
display: flex;
flex-direction: column;
height: 720px;
margin: 0 70px;
padding: 20px;
box-shadow: 0 15px 40px rgba(0, 0, 0, .5);

}

.top{
    flex: 1;
    padding-bottom: 10px;
}

.bottom{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-bottom: 20px;
}

.container .bottom .left{
flex: 1.5;
height: 600px;
background:url('../images/contact.jpg') no-repeat;
background-size:contain;

}
.container .bottom .right{
flex: 1.5;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container .bottom .right form{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container .bottom .right form input{
    margin: 15px;
    height: 50px;
    background-color: #bfad9f;
    border:none;
    border-radius: 10px;
    padding-left: 15px;
}

.container .bottom .right form textarea{
    margin: 15px;
    background-color: #bfad9f;
    padding-left: 15px;
    padding-top: 5px;
    border:none;
    border-radius: 10px;
}

.container .bottom .right form input[type=submit]{
    margin: 15px;
    background:none;
    border:1px solid #000;
    border-radius: 10px;
    width: 120px !important;
    cursor: pointer;
    height: 40px !important;
    float: right;
    padding-left: 0px !important;
}
