main .main-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    margin: 0 10%;
   
}

main .main-page .home-text {
    width: 50%;
    text-align: justify;
    font-size: 23px;
}

main .main-page .home-text p {
    margin-bottom: 40px;
}

main .main-page .home-img {
    
}
