main .main-page {
    display: flex;
    align-items: center;
    padding: 60px 0;
    margin: 0 10%;
    gap: 100px;
    margin-bottom: 50px;  
}

main .main-page .home-text {
    font-size: 23px; 
}

main .main-page .home-text h1{  
    font-size: 40px;
    line-height: 40px;
    color: rgba(55, 14, 37, 0.931);
    margin-bottom: 20px;
}
main .main-page button{
    color: white;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 600;
    background-color:rgba(55, 14, 37, 0.931);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}

main .main-page button:hover {
    transform: scale(1.05);
}
main .main-page .home-img img{
    width: 85%;
    height: 85%;
    margin-left: 10%; 
    border-radius: 50%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.391);
    
}
