main {

  display: flex;
flex-direction: column;
height: 720px;
margin: 0 70px;
padding: 20px;
box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}

main h1 {
  text-align: center;
  color: rgba(55, 14, 37, 0.931);
}
/* refer to caroucel galery */

button {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.carousel-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: all 0.25s ease-in;
}

.carousel-view .item-list {
  max-width: 950px;
  width: 70vw;
  padding: 50px 10px;
  display: flex;
  gap: 30px;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
  scroll-snap-type: x mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  background: none;
  cursor: pointer;
}

.next-btn {
  cursor: pointer;
}

.item {
  scroll-snap-align: center;
  text-align: center;
}

main  img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}


.listaImagens{
  text-align: center;
}

.listaImagens div{
  padding-top: 30px;
}

.item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* Change the background color to your desired color */
  color: #ffffff; /* Set the text color to contrast with the background */
  text-decoration: none;
  border-radius: 5px; /* Optional: Add rounded corners for a button-like appearance */
  transition: background-color 0.3s ease; /* Optional: Add a smooth transition effect */
}

.item a:hover {
  background-color: #2980b9; /* Change the background color on hover to give feedback */
}