main {

    display: flex;
  flex-direction: column;
  height: 720px;
  margin: 0 70px;
  padding: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
  }
  
  
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column  img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
  }