/*General Style*/
* {
    /*remove some extra stuff that browser can add to page by default*/
    margin: 0;/*remove margin from all elements*/
    padding: 0;/*remove padding from all elements*/
    box-sizing: border-box;/*apply border-box to all elements*/
    font-family: 'Poppins', sans-serif;/*apply font family to all elements*/
}

/*header style*/
header {
    display: flex;/*display header as flex*/
    align-items: center;/*align header items to center*/
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.391);/*add shadow to header*/
    background: linear-gradient(to bottom, rgb(85, 17, 60), rgba(55, 14, 37, 0.931));/*apply gradient to header*/
}

header .menu-search{        
    margin-right: 50px;/*add margin to menu-search*/

}


header .logo{
    padding-top: 10px;
    margin-left: 50px;/*add margin to logo*/
}

header .logo:hover{
    transition: 0.2s;/*add transition effect to logo*/
    transform: scale(1.10);/*increase size of logo on hover*/
    cursor: pointer;/*change cursor to pointer on hover*/
}

header nav {
    flex-grow: 1; /*flex grow makes nav menu takes up remaining space of header making it spread troughout the navigation menu */
    text-align: center; /*center align links*/
}

header a{
    color:rgb(255, 255, 255);/*change color of links*/
    text-decoration: none;/*remove underline from links*/
}

header a:hover {
    transition: 0.2s;/*add transition effect to links on hover*/
    color: rgb(178, 154, 193);/*change color of links on hover*/
}

header nav ul li{ /*navigation menu links*/
    justify-content: center;
    display: inline-block; /*display links in a row*/
    padding: 0 100px; /*add padding to each link*/
}



/*body style*/
body {
    background-color: rgb(208, 205, 205);/*change background color of body*/
}



/*footer style*/
footer {
    display: flex;/*display footer as flex*/
    align-items: center;/*align footer items to center*/
    justify-content: space-between;/*justify content of footer to space between*/
    background: linear-gradient(to bottom, rgba(55, 14, 37, 0.931), rgb(85, 17, 60));
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.391);/*add shadow to footer*/
    
}

footer .logo{
    margin-left: 70px;/*add margin to logo*/
}

footer .logo:hover{
    transition: 0.2s;/*add transition effect to logo*/
    transform: scale(1.10);/*increase size of logo on hover*/
    cursor: pointer;/*change cursor to pointer on hover*/
}

footer .social-media-buttons{
    margin-right: 50px;/*add margin to social media buttons*/
    filter: invert(1);/*invert color of social media buttons*/    
}
footer .social-media-buttons a{
    margin: 0 10px;/*add margin to social media buttons*/
}

footer .social-media-buttons:hover{
    cursor: pointer;/*change cursor to pointer on hover*/
}
